<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOMZaFyEVXpVgWclUFH4rlWIkMs7WbKgc</string>
	<key>GCM_SENDER_ID</key>
	<string>588002334455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authFirstStepShopify.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>auth-first-step-shopify</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-first-step-shopify.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588002334455:ios:9aa50a2e61465e497b65f2</string>
</dict>
</plist>